
.page.theme_dark {
  --bg-color: #000028;
  --text-color: #FF0070;
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #FF0070;
}


.page.theme_dark .heading__header {
  --header-color: #DB00FF;
  color: var(--header-color);
}

.page.theme_dark .text__header {
  --rose-bg: #FF0070;
  --rose-bg-text-color: #000028;
  color: var(--rose-bg-text-color);

}

.page.theme_dark .subheading__main_bold {
  --rose-bg: #FF0070;
  --rose-bg-text-color: #000028;
  color: var(--rose-bg-text-color);

}

.page.theme_dark .subheading__bigger__main {
  --rose-bg: #FF0070;
  --rose-bg-text-color: #000028;
  color: var(--rose-bg-text-color);
}

.page.theme_dark .subheading__main_not_bold {
  --rose-bg: #FF0070;
  --rose-bg-text-color: #000028;
  color: var(--rose-bg-text-color);
}

.page.theme_dark .paragraph__main {
  --text-color-light: #F1B2CE;
  color: var(--text-color-light);
}

.page.theme_dark .header__gallery {
  --rose-bg: #FF0070;
  --rose-bg-text-color: #000028;
  color: var(--rose-bg-text-color);
}

.page.theme_dark .header__footer {
  --header-color: #DB00FF;
  color: var(--header-color);
}

.page.theme_dark .text-shadow {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.page.theme_dark .header__theme-menu-button_active {
  --rose-bg: #FF0070;
  outline: 1px solid var(--rose-bg);
}

.page.theme_dark .header__theme-menu-button:focus-visible {
  --rose-bg: #FF0070;
  border-bottom: 1px solid var(--rose-bg);
}

.page.theme_dark .header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.40);
}

.page.theme_dark .text-shadow:focus-visible {
  outline: 1px solid var(--text-color-light);
  outline-offset: -1px;
}

.page.theme_dark .text-shadow:hover {
  border-bottom: 1px solid var(--text-color-light);
}
