
.page.theme_light {
  /*bg-color*/
  --bg-color: #FFF1F7;
  --rose-bg: #FF8DCB;
  /*bg-image*/
  --bg-image: url(../images/cover-image-light.png);
  /*text-color*/
  --text-color: #353430;
  --rose-bg-text-color: #000028;
  --text-color-light: #F1B2CE;
  --accent-color: #FF8DCB;
}

.page.theme_light .rec {
  display: none;
}

.page.theme_light .heading__header {
  --header-color: #FFC2E6;
  color: var(--header-color);
  text-shadow: 4px 4px 0px var(--accent-color);
}

.page.theme_light .text__header {
  color: var(--text-color);
}

.page.theme_light .subheading__main_bold {
  color: var(--text-color);
}

.page.theme_light .subheading__bigger__main {
  color: var(--text-color);
}

.page.theme_light .subheading__main_not_bold {
  color: var(--text-color);
}

.page.theme_light .paragraph__main {
  color: var(--text-color);
}

.page.theme_light .header__footer {
  --header-color: #FFC2E6;
  color: var(--header-color);
  text-shadow: 4px 4px 0px var(--accent-color);
}

.page.theme_light .header__gallery {
  color: var(--text-color);
}

.page.theme_light .text-shadow {
  --accent-color-link: #FF8DCB;
  text-shadow: 2px 2px 0 var(--accent-color-link);
}

.page.theme_light .header__theme-menu-button_active {
  --text-color: #353430;
  outline: 1px solid var(--text-color);
}

.page.theme_light .header__theme-menu-button:focus-visible {
  --text-color: #353430;
  border-bottom: 1px solid var(--text-color);
}

.page.theme_light .header__theme-menu-button:hover {
  outline: 1px solid rgba(50, 49, 45, 0.40);
}

.page.theme_light .text-shadow:focus-visible {
  --text-color: #353430;
  outline: 1px solid var(--text-color);
  outline-offset: -1px;
}

.page.theme_light .text-shadow:hover {
  --text-color: #353430;
  border-bottom: 1px solid var(--text-color);
}


@media (prefers-color-scheme: light) {
  .page {
    /*bg-color*/
    --bg-color: #FFF1F7;
    --rose-bg: #FF8DCB;
    /*bg-image*/
    --bg-image: url(../images/cover-image-light.png);
    /*text-color*/
    --text-color: #353430;
    --rose-bg-text-color: #000028;
    --text-color-light: #F1B2CE;
    --accent-color: #FF8DCB;
  }
  
  .heading__header { 
    --header-color: #FFC2E6;
    color: var(--header-color);
    text-shadow: 4px 4px 0px var(--accent-color);
  }
  
  .text__header {
    color: var(--text-color);
  }
  
  .subheading__main_bold {
    color: var(--text-color);
  }
  
  .subheading__bigger__main {
    color: var(--text-color);
  }

  .subheading__main_not_bold {
    color: var(--text-color);
  }
  
  .paragraph__main {
    color: var(--text-color);
  }
  
  .header__footer {
    --header-color: #FFC2E6;
    color: var(--header-color);
    text-shadow: 4px 4px 0px var(--accent-color);
  }
  
  .header__gallery {
    color: var(--text-color);
  }

  .text-shadow {
    --accent-color-link: #FF8DCB;
    text-shadow: 2px 2px 0 var(--accent-color-link);
  }

 .header__theme-menu-button_active {
  --text-color: #353430;
    outline: 1px solid var(--text-color);
  }

  .header__theme-menu-button:hover {
    outline: 1px solid rgba(50, 49, 45, 0.40);
  }
  
  .header__theme-menu-button:focus-visible {
    --text-color: #353430;
    border-bottom: 1px solid var(--text-color);
  }
  
  .text-shadow:hover {
    --text-color: #353430;
    border-bottom: 1px solid var(--text-color);
  }

  .rec {
    display: none;
  }
}

@media (768px <= width < 1024px) {
  .page.theme_light .heading__header {
    --accent-color: #FF8DCB;
    text-shadow: 4px 4px 0px var(--accent-color);
  }

  .page.theme_light .header__footer {
    --accent-color: #FF8DCB;
    text-shadow: 4px 4px 0px var(--accent-color);
  }
}

@media (768px <= width < 1024px) and (prefers-color-scheme: light) {
  .heading__header {
    --accent-color: #FF8DCB;
    text-shadow: 4px 4px 0px var(--accent-color);
  }

  .header__footer {
    --accent-color: #FF8DCB;
    text-shadow: 4px 4px 0px var(--accent-color);
  }
}

@media (min-width: 1024px) {
  .page.theme_light .heading__header {
    --accent-color: #FF0070;
    text-shadow: 4px 4px 0px var(--accent-color);
  }

  .page.theme_light .header__footer {
    --accent-color: #FF0070;
    text-shadow: 4px 4px 0px var(--accent-color);
  }
}

@media (min-width: 1024px) and (prefers-color-scheme: light) {
  .heading__header {
    --accent-color: #FF0070;
    text-shadow: 4px 4px 0px var(--accent-color);
  }

  .header__footer {
    --accent-color: #FF0070;
    text-shadow: 4px 4px 0px var(--accent-color);
  }
}

